@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.ttf") format("truetype"),
    url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1150px;
  margin: auto;
}

header {
  background-color: black;
  padding: 24px 0;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li:first-of-type {
  margin-right: 24px;
}
nav li {
  list-style: none;
  margin-left: 32px;
}

nav a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.logo-btn {
  padding: 10px 20px 12px 20px;
  background-color: #ffffff;
  border-radius: 14px;
}

.logo-btn a {
  color: black;
}

/* SECTION MAIN BUNNER */

.main_bunner {
  background-image: url("images/main-img.png");
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 71px;
}

.aperture-studios {
  max-width: 580px;
  text-align: center;
}

.aperture-studios h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
}

.aperture-studios h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 54px;
  line-height: 59px;
  color: #ffffff;
}

.aperture-studios p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
  margin-bottom: 71px;
}

.fixed_information li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  display: inline-flex;
  margin-left: 16px;
}

.fixed_information {
  position: absolute;
  bottom: 31px;
  right: 40px;
}

/* SECTION WHAT WE DO */

/* SECTIOM SUNSET */

.sunset {
  background-image: url("images/sunset.svg");
  background-size: cover;
  height: 77vh;
  /* min-height: 600px; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sunset-description {
  max-width: 298px;
  margin-right: 62px;
}

.sunset-description h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.sunset-description p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

/* SECTION THE TOOLS THAT WE USE */

/* SECTION MONSTERA LEAFS */

.monstera-leafs {
  background-image: url("images/monstera-leafs.svg");
  background-size: cover;
  height: 77vh;
  /* min-height: 600px; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.monstera-leafs-description {
  max-width: 298px;
  margin-right: 62px;
}

.monstera-leafs-description h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.monstera-leafs-description p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

/* SECTION PAST CLIENTS */

.past_clients {
  background-color: #000;
  padding-top: 113px;
  padding-bottom: 140px;
  text-align: center;
}

.past_clients_description {
  max-width: 1300px;
  margin: auto;
}

.past_clients_description h4 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  line-height: 42px;
  color: #ffffff;
}

.past_clients_description p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
  margin-top: 15px;
}

.sponsors {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 82px;
}

.sponsors a {
  display: inline-block;
}

/* STAR FALL */

.star_fall {
  background-image: url("images/star-fall.svg");
  background-size: cover;
  height: 77vh;
  /* min-height: 600px; */
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.star_fall_description {
  max-width: 298px;
  margin-right: 62px;
}

.star_fall_description h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.star_fall_description p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #ffffff;
}

/* SECTION NEED HELP */

.need_help {
  background-color: #000;
  padding: 100px 0;
}

.need_help_description {
  max-width: 571px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.need_help_description h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 42px;
  color: #c0c0c0;
}

.need_help_description h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #c0c0c0;
  margin-top: 20px;
}

.need_help_description a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  align-items: center;
  margin-top: 22px;
  padding: 9px 10px 10px 9px;
}
.need_help_description a::before {
  content: "";
  background-color: #000000;
  min-height: 25px;
  min-width: 25px;
  border-radius: 11px;
  margin-right: 12px;
}

/* FOOTER */

footer {
  background-color: #000;
  color: #ffffff;
  padding: 100px 0;
}

footer .container {
  max-width: 1168px;
  margin: auto;
}
/* FOOTER LIST */

.footer-list {
  align-items: normal;
  padding-bottom: 36px;
  border-bottom: 1px solid #fff;
}

.list-left p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
  margin-top: 20px;
}

.list-right {
  display: flex;
}

.list-right h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #c0c0c0;
  list-style: none;
}

.list-right ul:last-of-type {
  margin-left: 54px;
  margin-right: 102px;
}
.list-right li {
  margin-top: 10px;
  list-style: none;
}

.list-right a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

/* FOOTER SUBSCRIBE */

.footer-subscribe {
  display: flex;
  justify-content: space-between;
  padding: 36px 0;
  border-bottom: 1px solid #fff;
}

.subscribe-left h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-left h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #c0c0c0;
  margin-top: 20px;
}

.footer-subscribe form {
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 100%;
  max-width: 458px;
  display: flex;
  justify-content: space-between;
}

.footer-subscribe label {
  display: none;
}

.footer-subscribe input {
  border: none;
  outline: none;
  width: 100%;
  margin: 7px 6px 7px 7px;
}

.footer-subscribe button {
  background: #000000;
  border-radius: 11px;
  max-width: 63px;
  width: 100%;
  margin: 11px 6px 11px 6px;
}

/* FOOTER RIGHTS */

.footer-rights {
  margin-top: 56px;
}
.footer-rights h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #c0c0c0;
}

.footer-rights ul {
  display: flex;
}
.footer-rights li {
  list-style: none;
  margin-left: 20px;
}

.footer-rights li:nth-child(1) {
  margin-left: 0;
}
